.maindiv{
    height: 100vh;
    background-color:chocolate;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "one one one" "two three four" "five five four";
    grid-gap: 5px;
}
.item{
    border: solid;
    border-color: brown;
    border-width: 1px;
}
.red{
    background-color: red;
    grid-area: one;
}
.blue{
    background-color: blue;

    grid-area: two;
}
.green{
    background-color: green;

    grid-area: three;
}
.black{
    background-color:black;

    grid-area: four;
}
.yellow{
    background-color: yellow;
    grid-area: five;
}