.logo_style{
    height: 79px ;
    width: 150px;
}
.toggle_style{
    width: 20px;
    height: 20px;
}
.navlink_style{
    color:#212529!important;
    font-weight:300;
    font-size: .9rem;
}

@media all and (max-width:991px){
    .logo_style{
        max-height:50px;
        width: 90px;
    }
}